Source: ocaml-qcheck
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Andy Li <andy@onthewings.net>
Standards-Version: 4.6.1
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-ocaml,
 ocaml,
 ocaml-dune,
 ocaml-findlib,
 libalcotest-ocaml-dev,
 libounit-ocaml-dev (>= 2.2.0)
Homepage: https://github.com/c-cube/qcheck
Vcs-Browser: https://salsa.debian.org/ocaml-team/ocaml-qcheck
Vcs-Git: https://salsa.debian.org/ocaml-team/ocaml-qcheck.git

Package: libqcheck-ocaml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: QuickCheck inspired property-based testing for OCaml (Runtime library)
 This module allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.
 .
 This is a compatibility library, depends on libqcheck-ocaml.

Package: libqcheck-ocaml-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: QuickCheck inspired property-based testing for OCaml (Development package)
 This module allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.
 .
 This is a compatibility library, depends on libqcheck-ocaml.

Package: libqcheck-core-ocaml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: QuickCheck inspired property-based testing for OCaml (Runtime library)
 This module allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.

Package: libqcheck-core-ocaml-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Description: QuickCheck inspired property-based testing for OCaml (Development package)
 This module allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.

Package: libqcheck-ounit-ocaml
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Enhances: ounit
Description: QCheck integration with OUnit (Runtime library)
 This module provides QCheck integration with OUnit.
 .
 QCheck allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.

Package: libqcheck-ounit-ocaml-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${ocaml:Depends}
Provides:
 ${ocaml:Provides}
Recommends: ocaml-findlib
Enhances: ounit
Description: QCheck integration with OUnit (Development package)
 This module provides QCheck integration with OUnit.
 .
 QCheck allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.

Package: libqcheck-ocaml-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Enhances: libqcheck-ocaml-dev
Description: Documentation for ocaml-qcheck
 This module allows one to check invariants (properties of some types) over
 randomly generated instances of the type. It provides combinators for
 generating instances and printing them.
 .
 This package contains documentation for ocaml-qcheck in html format.
